.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #705f5f;
}
.button {
  margin: 10px;
  padding: 10px;
  background-color: #567794;
  color: white;
  border: none;
  border-radius: 5px;
  width: 150px;
}

.button2 {
  margin: 10px;
  padding: 5px;
  background-color: white;
  color: #538abd;
  border: none;
  border-radius: 5px;
  width: 200px;
}

.small{
  margin: 15px;
  padding: 1px;
  height: 30px;
  border-radius: 8px;
}

.topbar{
  display: flex;
  justify-content: right;
  align-items: center;
}

.scaffold {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #042140;
  justify-content:flex-start;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 90px;
  text-align: center;
  color: #042140;
}

.opcionTitle {
  padding: 10px 0px 0px 0px;
  width: 180px;
  font-weight: bold;
  color: #567794;
  text-align: justify;
  
}

.report-area {
  display: grid;
  grid-template-rows: 90px 1fr;
  grid-template-columns: 1fr;          
  width: 100%; 
  background-color: #b1c5d8;
}

.report-scaffold {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;          
  height: 100vh; 
  background-color: black;
}

.filters {
  display: flex;
  width: 200px;
  justify-content: center;
  background-color: #f5f3ef;
  color: black;
}

.change{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.inputs{
  padding: 5px 15px;
  border: 1px solid #567794;
  border-radius: 8px;
  font-size: 15px;
  width: 100%;
  max-width: 180px;
  box-sizing: border-box;
  background-color: #567794;
  transition: border-color 0.3s ease;
}

.selects{
  position: relative;
  padding: 5px 15px;
  border: 1px solid #567794;
  border-radius: 8px;
  font-size: 15px;
  width: 100%;
  max-width: 180px;
  box-sizing: border-box;
  background-color: #567794;
  color: rgb(255, 255, 255);
  display: block;
  visibility: visible;
  transition: border-color 0.3s ease;
}


.results{
  background-color: #245580;
}

.topbar{
  background-color: #538abd;
  height: 50px;
}
